!!!
/ ^-- that is a doctype
%html
  %head
    / This formats the title of the tab in the browser
    %title Das App
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    %nav.navbar.navbar-inverse{role: "navigation"}
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: "/"} Das App
        %ul.nav.navbar-nav
          %li
            / This is a link to '/reverse'
            / "http://www.google.com" to go off-site
            %a{href: "/later"} Later
          %li
            %a{href: "/about"} About
          %li
            %a{href: "/elevators"} Elevators
          %li
            %a{href: "/averager"} Averager

    .container
      = yield
